<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lks.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.lks.bean.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pass" jdbcType="VARCHAR" property="userPass" />
  </resultMap>
  <sql id="Base_Column_List">
    user_is, user_name, user_pass
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from auth_user
    where user_id = #{userIs,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lks.bean.User">
    insert into auth_user (user_id, user_name, user_pass
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lks.bean.User">
    insert into auth_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userIs != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPass != null">
        user_pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userIs != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        #{userPass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 批量插入 -->
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
    <selectKey resultType="long" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_user(user_id,user_name,user_pass)
    values
    <foreach collection="list" item="user" index="index" separator=",">
      ( #{user.userId},#{user.userName,jdbcType=VARCHAR},#{user.userPass,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lks.bean.User">
    update auth_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lks.bean.User">
    update auth_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pass = #{userPass,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>